body {
    display: flex;
    justify-content: center;
    margin: 0%;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 900px) {
    img {
        max-width: 900px;
    }
}


